html, body {
    width: 100%;
    min-width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 14px;
    background-color: #212B38;
    color: #ffffff;
}

h1 {
    font-size: 55px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

h4 { 
    font-size: 16px;
}

span.blue {
    color: #726EF6;
}

span.green {
    color: #5AFFE7;
}

/* LOGIN */

#login img.icon1 {
    height: 122px;
    width: 121px;
}